<h1>hello </h1>
<p>value of Viewbag :  @ViewData["x"]</p>  <!-- not able to axis from f View  -->
<p>value of Viewbag :  @ViewBag.x</p>  <!-- not able to axis from f View  -->
<p>value of tempdata : @TempData["Message"]</p>   <!-- *** Available for  one request -->
@* <ul> *@
@*     @{ *@
@*         var array = TempData["array"] as string[]; *@
@*         if (array != null) *@
@*         { *@
@*             foreach (var i in array) *@
@*             { *@
@*                 <li>@i</li> *@
@*             } *@
@*         } *@
@*     } *@
@* </ul> *@