@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<p>@TempData["Message"]</p>   <!--   **** Available for one request -->
@* <p>@Session["var1"]</p>   *@
Context.Session.GetString("var1")

<p>Use this page to detail  site privacy policy.</p>